{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col col-lg-5">
    <form enctype="multipart/form-data" method="post" action="/" class="mb-3">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Notification Title</label
        >
        <input name="title" required class="form-control" />
      </div>
      <div class="mb-3">
        <span>Notification Text</span>
        <input name="text" required class="form-control" />
      </div>
      <div class="mb-3">
        <label for="formFileDisabled" class="form-label"
          >Notification Image</label
        >
        <input
          name="image"
          class="form-control"
          type="file"
          accept="image/*"
          required
        />
      </div>
      <div class="mb-3">
        <span>Notification Name</span>
        <input name="name" class="form-control" />
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% if success %}
    <div
      class="toast align-items-center show text-bg-primary"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">!Notification Added</div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
